{% extends 'base.html.twig' %}

{% block title %}Prostage{% endblock %}

{% block contenu %}

    {% for entreprise in entreprises %}

        <div class="card-deck">

        <div class="card">
            <div class="card-body">
            <a href="{{path('metier_entreprises_stage',{id:entreprise.id})}}"><h5 class="card-title">{{entreprise.nom}}</h5></a>
            <p class="card-text"><B>Activite : </B>{{entreprise.activite}}</p>
            <p class="card-text"><B>Adresse : </B>{{entreprise.adresse}}</p>
            <p class="card-text"><B>URL du site : </B>{{entreprise.URLsite}}</p>
            </div>
        </div>
        
        <br/>
    {% endfor %}

{% endblock %}
